/* ==========================
   APPLE-INSPIRED MINIMALIST CSS
   WITH ROOT VARIABLES + DARK MODE
   ========================== */

/* Root Variables */
:root {
  --color-bg: #fff;
  --color-text: #111;
  --color-text-secondary: #444;
  --color-muted: #555;
  --color-border: #eee;
  --color-accent: #111;
  --color-surface: #fafafa;
  --color-tag: #f0f0f0;

  --font-main: "Onest", sans serif;

  --transition-fast: 0.2s ease;
  --transition-med: 0.3s ease;
}
#loader {
  position: fixed;
  inset: 0;
  background: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#loader.hide {
  opacity: 0;
  visibility: hidden;
}

#loader-number {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-text);
  letter-spacing: 2px;
}

/* Reset & Base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-main);
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem; /* 72px */

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9rem;
  backdrop-filter: blur(0.80rem);
  z-index: 1000;
  border-bottom: 1px solid rgba(0,0,0,0.6);
  transition: background var(--transition-med), border var(--transition-med);
}


/* LOGO */
.logo {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.0625rem; /* 1px */
  color: var(--color-text);
  transition: color var(--transition-fast);
  cursor: pointer;
  text-decoration: none;
left: 9rem;
}

/* NAV LINKS */
.nav-link {
  display: flex;
  gap: 2rem; /* 32px */
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.03rem; /* 0.5px */
  color: var(--color-text);
  padding: 0.4rem 0.9rem;
  border-radius: 20px ;
  border: 1px solid var(--color-accent);
  transition: opacity var(--transition-med), color var(--transition-med);
}

.nav-link a:hover {
  color: var(--color-bg);
  background-color: var(--color-text);
}
.nav-contact {
  text-decoration: none;
  text-align: center;
  color: var(--color-bg) !important;
  background-color: var(--color-text);
  padding: 0.4rem 0.9rem;
  border: 1px solid var(--color-accent);
}
.nav-link .nav-contact:hover {
  color: var(--color-accent) !important;
  background-color: var(--color-bg) !important;
}
/* SOCIAL ICONS */
.social-icons {
  display: flex;
  align-items: center;
  gap: 1.25rem; /* 20px */
  position: absolute;
  right: 9rem;
}

.logo-img {
  width: 2rem;
  height: auto;
  object-fit: contain;
  border: 1px solid var(--color-accent);
  border-radius: 20px;
  transition: filter var(--transition-med), background-color var(--transition-med);
}
.logo-img:hover {
  opacity: 0.6;
}

/**
HOME
 */

.home-content {
  min-height: 100vh;
  padding: 7rem 4rem 0 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  color: var(--color-text);
}
.home-content{
  text-align: center;
}
.headline{
  font-size: 14.3rem;
  font-weight: 500;
  line-height: 0.9;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: transform 0.6s ease;
}
.headline:hover{
  transform: translateY(6px);
  ;
}
.home-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0 2.5rem;
  gap: 2rem;
}
.passion{
  font-size: 1rem;
  padding-right: 6rem  ;
  max-width: 30ch;
  font-weight: 400;
  color: var(--color-text);
  text-align: right;
  flex: 1;
  z-index: 40;
}
.identity{
  padding-left: 6rem;
  font-size: 1.2rem;
  font-weight: 400 ;
  color: var(--color-text);
  text-align: left;
  flex: 1;
  z-index: 40;
}
#home {
  position: relative;
  overflow: hidden;
}



/**
ABOUT
 */

 .about-text{
  color: var(--color-accent);
  transition: opacity 0.3s ease;
 }

 .about-text:hover{
  opacity: 0.8;
  cursor: pointer;
 }
.about-text .name-about {
  color: var(--color-text);
  font-weight: 500;
  transition: all 0.3s ease;
 }
 .about-text .name-about:hover {
  opacity: 1;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
 }
 




.about-container{
  margin: 2rem 0;
  padding: 2rem 9rem;
  min-height: 50vh;
}
.about-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-accent);

}
.about-title{
  font-size: 5rem;
  font-weight: 300;
}
.about-text{
  max-width: 35ch;
  font-size: 1.2rem;
  text-align: right;
}
.about-state{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-content: center;
}
.stat-header{
  font-size: 4rem;
  font-weight: 200;
}
.stat-text{
  font-size: 1.1rem;
  font-weight:400;
}
.stat{
  border: 1px solid var(--color-text-secondary);
  padding: 1rem 2rem;
}
.profile{
  display: flex;
  justify-content: center;
}
.profile-pic{
  width: 12rem;
  height: auto;
  object-fit: cover;
}


.software {
  min-height: 40vh;
  margin-top: 3rem;
}

.main-software{
  display: flex;
  justify-content: start;
  text-align: left;
  padding:0 9rem;
  font-size: 4rem;
  margin-top: 2rem;
  font-weight: 400;
}
.software-title{
  font-weight: 400;
  color: var(--color-text-secondary);
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  padding: 0 9rem;
  justify-content: center ;
  text-align: center;
}


.loop-container {
  overflow: hidden;
  width: 100%;
  border-top: 2px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  padding: 1rem 0;
  position: relative;
}

.loop-track {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
  width: max-content;
  animation: slide 20s linear infinite;
}

/* Duplicate the content using CSS only */
.loop-track::after {
  content: "";
  display: flex;
  gap: 3rem;
  width: 100%;
}

.loop-track img {
  width: 5rem;
  height: auto;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.3s ease;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-35%);
  }
}


.section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.section-title{
  justify-content: center;
  align-items: center;
  font-size: 7rem;
}
.socials{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials a{
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: var(--color-bg);
  font-size: 1.2rem;
  margin-top: 5rem;
  background-color: var(--color-accent);
  border-radius: 30px;
  padding: 1rem 2rem;
  transition: opacity var(--transition-med), color var(--transition-med);
  z-index: 30 ;
}
.socials a:hover{
  color: var(--color-accent);
  background-color: var(--color-tag);
}


.contact-info{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.contact-item{
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.2rem;
  margin: 2rem auto;
  background-color: var(--color-bg);
  border: 1px solid var(--color-text-secondary);
  border-radius: 30px;
  padding: 1rem 2rem;
  z-index: 30 ;

  transition: opacity var(--transition-med), color var(--transition-med);
}
.contact-item:hover{
  color: var(--color-bg);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}


#contact {
  position: relative;
  overflow: hidden;
  min-height: 80vh;
}

/* LEFT + RIGHT GRADIENT FADES */
#contact::before,
#contact::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30rem; /* adjust width */
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

#contact::before {
  left: 0;
  background: linear-gradient(to right, var(--color-bg) 0%, transparent 100%);
}

#contact::after {
  right: 0;
  background: linear-gradient(to left, var(--color-bg) 0%, transparent 100%);
}


.site-footer {
  padding: 1rem 0;
  border-top: 2px solid var(--color-border);
  text-align: center;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0 9rem;
  align-items: center;
}

.site-footer p {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}
.design{
  color: var(--color-surface);
}
.name{
  color: var(--color-text);
  font-weight: bold;
}
.hero {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 3s ease;
}

.hero.show {
  opacity: 1;
  transform: translateY(0);
}
.hero {
  will-change: transform;
  transition: transform 0.1s ease-out;
}
/* Hidden state for all sections */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 1s ease;
}

/* Visible state */
.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
#projects {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.project-title {
  font-size: 4rem;
  font-weight: 400;
}

.project-section{
  display: flex;
  flex-direction: column;;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
.project-card{
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  max-width: 1200px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.5s ease;
  overflow:hidden;
  border-radius: 20px;
  /* Box shadow when hovered */
}
.project-card:hover{
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
  transform: translateY(-5px);
}
.project-card img{
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  transition: transform 0.3s ease;
  /* add right-side shadow */
  box-shadow: 4px 0 8px rgba(0,0,0,0.1);
  overflow: hidden;

}

.project-description {
  width : 50%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  line-height: 1.4;
}
.project-card h3 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.project-description p {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
  max-width: 67ch;
}
.key-software{
  font-weight: 600;
  color: var(--color-accent);
  font-size: 0.7rem;
  justify-content: center;
  text-align: center;
  padding: 0.2rem 0.5rem;
  background-color: var(--color-tag);
  border-radius: 12px;
  margin: 0 0.2rem;
}
.project-link{
  margin-top: 1rem;
  text-decoration: none;
  color: var(--color-bg);
  background-color: var(--color-accent);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  width: max-content;
  transition: opacity var(--transition-med), color var(--transition-med);
}
.project-link:hover{
  color: var(--color-accent);
  background-color: var(--color-tag);
}
.hamburger {
  display: hide;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: var(--color-text);
  transition: 0.3s ease;
}

/* HAMBURGER ACTIVE ANIMATION */
.hamburger.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 768px){
  nav {
    padding: 0 3rem;
  }

  .social-icons {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  /* LEFT-SIDE DRAWER */
  .nav-link {
    display: none;
    position: fixed;
    top: 50px;
    left: -100%; /* hidden off-screen */
    height: 50vh;
    width: 100%; /* drawer width */
    flex-direction: column;
    background: var(--color-bg);
    border-bottom: 2px solid var(--color-border);
    padding: 3rem 3rem;
    transition: left 0.3s ease;
    justify-content: center;
    gap: 1rem;
    z-index: 999;
  }
  .nav-link{
    border-bottom: 2px solid var(--color-border);
  }

  .nav-link a {

    display: flex;
    justify-content: center;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    border-radius: 20px;
  }

  /* When menu is open */
  .nav-link.show {
    display: flex;
    left: 0; /* slide in from left */
  }

  .home{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
  }
  .headline{
    font-size: 4.5rem;
    line-height: 1;
  }
  .home-row{
    flex-direction: column;
    gap: 1rem;
  }

  .identity, .passion{
    padding: 0;
    text-align: center;
    max-width: 100%;
  }
  .identity{
    font-size: 1.2rem;
    color: var(--color-muted);
  }
  .passion{
    font-size: 0.8rem;
    color: var(--color-muted);
  }
  .about-container{
    padding: 3rem 3rem
  }
  .about-container {
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
  }
  .about-title{
    font-size: 4rem;
  }
  .about-text{
    font-size: 0.8rem;
    max-width: 40ch;
  }
  .about-state{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .stat-header{
    font-size: 4rem;
  }
  .main-software {
    justify-content: center;
    padding: 1rem;
    font-size: 4rem;
  }
  .section{
    max-height: 20vh;
    padding: 0 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .section-title{
    font-size: 4rem;
  }
  .contact-item{
    font-size: 0.8rem;
  }
  .socials {
    gap:1rem;
  }
  .socials a{
    padding: 1rem 2rem;
    font-size: 1rem;
    
    margin-top: 1.5rem;
  }
  .project-section{
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .project-card {
    max-width: 500px;
    height: auto;
    overflow: hidden;
  }
  .project-overlay{
    padding: 0.7rem 1rem;
  }
  .project-overlay h3 {
    font-size: 0.8rem;
  }
  .tool-icons img {
    width: 1.6rem;
  }
  .project-title{
    font-size: 3rem;
  }



  .footer-inner {
    flex-direction: row;
    padding: 0.5rem 3rem;
    gap:1rem;
    align-items: center;
  }
  .footer-inner p {
    font-size: 0.8rem;
    color: var(--color-muted);
  }

}
@media(max-width: 768px) {

  nav {
    padding: 0 1.5rem;
  }
  .hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    z-index: 9999;
}
  .hamburger span {
    width: 20px;
    height: 2px;
    background: var(--color-text);
  }

  /* LEFT DRAWER */
  .nav-link {
    position:fiex;
    top:0;
    left: 0;
    width: 100%;
    height: 55vh;
    padding: 2rem 2rem;
    gap: 0.8rem;
  }

  .nav-link a {
    font-size: 0.75rem;
    padding: 0.4rem 1.5rem;
  }

  /* HOME */

  .home {
    padding: 1.5rem;
    max-height: 70vh;
  }

  .headline {
    font-size: 4rem;
  }

  .identity {
    font-size: 1rem;
  }

  .passion {
    font-size: 0.7rem;
  }

  /* ABOUT */
  .about-container {
    padding: 2rem 1.5rem;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .about-text {
    font-size: 0.75rem;
    max-width: 35ch;
  }

  .stat-header {
    font-size: 2.5rem;
  }

  /* SOFTWARE */
  .main-software {
    font-size: 2.5rem;
  }

  /* CONTACT */
  .section {
    padding: 0 1.5rem;
  }

  .section-title {
    font-size: 2rem;
  
  }

  .contact-item {
    font-size: 0.8rem;
    padding: 0.7rem 1.2rem;
    gap: 1rem;
  }

  .social {
    gap: 1rem;
    display: flex;
    justify-content: center;

  }
  .socials a {
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
  }

  /* PROJECTS */
  .project-section {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .project-card{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .project-card img{
    width: 100%;
    border-radius: 20px 20px 0 0 ;
  }
  .project-description {
    width: 100%;
    padding: 1rem 1.3rem;
    justify-content: center;

  }
  .project-card h3 {
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
  }
  .project-description p {
    font-size: 0.9rem;
    max-width: 60ch;
  }
  .project-link{
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    /* make button to right */
    width: max-content;
    align-self: center;
    justify-content: center;

  }
  .project-title{
    font-size: 2rem;
  }
  /* FOOTER */
  .footer-inner {
    padding: 0.5rem 1.5rem;
  }

  .footer-inner p {
    font-size: 0.7rem;
  }
  
}
@media (min-width: 769px) and (max-width: 1380px) {

  nav {
    padding: 0 4rem;
  }

  .social-icons {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: static;
    height: auto;
    padding: 0;
    border: none;
  }

  .nav-link a {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
  }

  /* HOME */
 
  .home {
    padding: 0 4rem;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    max-height: 80vh;
  }

  .headline {
    font-size: 5rem;
  }

  .identity {
    font-size: 1.4rem;
  }

  .passion {
    font-size: 1rem;
  }

  /* ABOUT */
  .about-container {
    padding: 4rem 4rem;
    flex-direction: row;
    text-align: left;
  }

  .about-title {
    font-size: 4.5rem;
  }

  .about-text {
    font-size: 1rem;
    max-width: 55ch;
  }

  .stat-header {
    font-size: 4.5rem;
  }

  /* SOFTWARE */
  .main-software {
    justify-content: center;
    font-size: 3rem;
  }

  /* CONTACT */
  .section {
    padding: 0 4rem;
    text-align: center;
  }

  .section-title {
    font-size: 4.5rem;
  }

  .contact-item {
    font-size: 1rem;
  }

  .socials a {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  /* PROJECTS */
  .project-section {
    padding: 0 4rem;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .project-card {
    padding: 1rem 1rem;
    max-width: 100%;
  }
  .project-description h3{
    font-size: 1.5rem;
  }
  .project-description p{
    font-size: 0.7rem;
  }
  .key-software{
    font-size: 0.4;
  }
  .project-title{
    font-size: 2.5rem;
    text-align: center;
  }

  /* FOOTER */
  .footer-inner {
    padding: 1rem 4rem;
  }

  .footer-inner p {
    font-size: 0.9rem;
  }
}
